<!doctype html>
%head
  %meta{:charset => "utf-8"}/
  %title Zorgverzekering.net
  %meta{:content => "", :name => "description"}/
  %meta{:content => "", :name => "author"}/
  %meta{:content => "width=device-width", :name => "viewport"}/
  %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}/
%body
  #page
    #header
      .container
        .header-menu
          .header-navigation-left
            %ul
              %li
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Jongeren
              %li
                %a{:href => "#"} Studenten
              %li
                %a{:href => "#"} Starter
              %li
                %a{:href => "#"} Gezin
              %li
                %a{:href => "#"} 50+
          .header-navigation-right
            %ul
              %li
                %a{:href => "#"} Artikelen
              %li
                %a{:href => "#"} FAQ
        .header-promotion
          .logo-text
            %a{:href => "#"} Zorgverzekering.net
          %img{:alt => "homepage logo", :src => "img/homepage_logo.png"}/
          %p.nieuwslos Vind gemakkelijk en snel de zorgverzekering die bij je past
          %a.btn.green{:href => "#"} Zorgverzekering vergelijken
    #body
      .container.post
        .post
          %h3 Algemeen nieuws
          %ul.newslist
            %li Algemeen nieuws 1
            %li Algemeen nieuws 2
            %li Algemeen nieuws 3
            %li Algemeen nieuws 4
            %li Algemeen nieuws 5
            %li Algemeen nieuws 6
            %li Algemeen nieuws 7
        .author
        .bottom-body
          .bottom-help.bottom-box.cols
            .col
              %p.title Hulp nodig?
              .info
                %p.tel 012-345 67 89
                %p.adr
                  Maandag t/m vrijdag van 09.00 - 17.00
                  %br>/
                  info@zorgverzekering.net
            .col
              %p.title Onze voordelen
              .info.list
                %ul
                  %li Simpel vergelijken - geen gedoe!
                  %li Binnen 1 minuut een zorgverzekering
                  %li Bespaar veel geld
                  %li Vergelijken op prijs en dekking
            .col
              %p.title Premie Alert 2013
              .info.email
                %p
                  Als eerste op de hoogte van de beste premie?
                  %br>/
                  Laat je e-mailadres achter!
                %input.span3{:placeholder => "Jouw e-mailadres", :required => "", :type => "email"}/
                %a.btn.red{:href => "#"} Houd me op de hoogte!
    #footer
      .container
        .footer_navigation
          %ul
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Zorgverzekering
            %li
              %a{:href => "#"} Vergelijken
            %li
              %a{:href => "#"} Studenten
            %li
              %a{:href => "#"} Jongeren
            %li
              %a{:href => "#"} Artikelen
            %li
              %a{:href => "#"} Nieuws
            %li
              %a{:href => "#"} FAQ
            %li
              %a{:href => "#"} Snel naar
            %li
              %a{:href => "#"} Contact
            %li
              %a{:href => "#"} Sitemap
        .footer_social
          %ul
            %li
              %a{:href => "#"}
                %img{:alt => "social1", :src => "img/footer_social1.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "social2", :src => "img/footer_social2.png"}/
            %li
              %a{:href => "#"}
                %img{:alt => "social3", :src => "img/footer_social3.png"}/
  %script{:src => "js/bootstrap.min.js"}
  %script{:src => "js/script.js"}
